.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.header{
font-size: 40px !important;
color: brown;
}

.panel{
  margin-top: 15px;
  width: 100%;
  padding: 20px 28px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 2;
}

.edit{
    margin-top: 10px;
    width: 100%;
    padding: 20px 28px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2;
}

.todoItem{
  margin-top: 10px;
  width: 100%;
  padding: 20px 28px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 2;
}

.todoItemBox{
  width: 70px;
   display: flex;
  gap: 10px;
}